@import "../_utils/variables";
@import "../_base/typography";

//!BANNIERE-ACCUEIL---------------------------------------------------------------------------

.banniere-container {
    font-family: "Poppins", sans-serif;
    padding: 0;
    position: relative;

    .banniere-img {
        width: 100%;
        height: auto;
        z-index: 1;
        position: relative;
    }

    .card-banniere {
        position: absolute;
        width: 42em; //em adapte la taille selon la taille de l'élément parent
        height: 27em;
        top: 52%;
        left: 74%;
        transform: translate(-50%, -50%);
        z-index: 2;
        border: none !important;
        border-radius: 10px !important;
        background-color: $light-yellow !important;
    }

    .card-body {
        width: 90%;
        height: 80%;
        margin: 29px 15px 7px 14px;

    }

    .card-title {
        font-size: 3.5em;
        font-weight: 700;
        color: $yellow;
    }

    .card-text {
        font-size: 1.2em;
    }

    a{
        text-decoration: none;
    }
    .bouton {
        background-color: $yellow;
        color: white;
        border-radius: 0px;
        width: 245px;
        height: 71px;
        font-weight: 500;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bouton:hover{
        transition-duration: 1s;
        border: solid 3px $yellow;
        background-color: $light-yellow;
        color: $yellow;
    }

    .bouton:active{
        box-shadow: rgba(184, 142, 47, 0.25) 0px 30px 60px -12px inset, rgba(255, 243, 227, 0.3) 0px 18px 36px -18px inset;
        border: none;
    }
}

//!MENU----------------------------------------------------------------------------------


.menu{
    .title{
        color: $dark-grey;
        font-weight: 700;
    }
    .text{
        color: $grey;
    }
    .img{
        width: 97%;
    }
    .sous-titre{
        font-weight: 700;
    }
}

//!PRODUCT----------------------------------------------------------------------------------

.product{
    .title{
        color: $dark-grey;
        font-weight: 700;
    }
    .btn{
        text-decoration: none;
        color: $yellow;
        border: 1px solid $yellow;
        border-radius: 0px;
    }
    .btn:hover{
        transition-duration: 1s;
        border: solid 3px $yellow;
        background-color: $light-yellow;
        color: $yellow;
    }

    .btn:active{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
        border: none;
        color: $yellow !important;
    }
}