@import "../_utils/variables";
@import "../_base/typography";

.product .card{
    border: none !important;
    background-color: $light-grey;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 1;
    .promo{
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-color: $pink;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 77%;
        bottom: 86%;
    }
    .nbr-promo{
        margin: 0;
        color: white;
    }
    .new{
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 77%;
        bottom: 86%;
    }
    .text-new{
        margin: 0;
        color: white;
    }
    .card-title{
        font-weight: 600;
        font-size: 25px;
    }
    .card-text{
        color: $grey;
    }
    .ligne-prix{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between ;
    }
    .prix-promo{
        font-weight: 600;
        font-size: 20px;
    }
    .prix{
        color: $grey;
        text-decoration: line-through;
    }
}

//?CARD-SHOP--------------------------------------------------------------------------

.product .card-shop{
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0 !important;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    
    

    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    /* Keyframes */

    /* Définition de l'animation pour agrandir le bouton lorsqu'il est cliqué */
    @keyframes extend {
        0% { /* Début de l'animation: taille de départ */
            width: 600px;
            height: 200px;
            border-radius: 100px;
        }
        10% { /* Première étape de l'animation: augmentation de la taille */
            width: 610px;
            height: 210px;
            background: #fff; /* Changement de couleur de fond */
        }
        20% { /* Deuxième étape de l'animation: réduction de la taille et changement de couleur */
            width: 600px;
            height: 200px;
            background: $yellow; /* Utilisation d'une couleur définie ailleurs */
        }
        100% { /* Fin de l'animation: retour à la taille initiale et couleur finale */
            width: 200px;
            height: 200px;
            background: $yellow; /* Couleur finale */
        }
    }

   /* Définition de l'animation pour faire disparaître le texte du bouton */
    @keyframes disappear {
        0% { /* Début de l'animation: texte entièrement visible */
            opacity: 1;
        }
        20% { /* À 20% de l'animation: changement de couleur du texte vers blanc */
            color: #fff;
        }
        100% { /* Fin de l'animation: texte complètement transparent */
            opacity: 0;
        }
    }

    /* Définition de l'animation pour faire apparaître une image au centre du bouton */
    @keyframes appear {
        0% { /* Début de l'animation: image complètement invisible */
            opacity: 0;
        }
        70% { /* À 70% de l'animation: image toujours invisible */
            opacity: 0;
        }
        100% { /* Fin de l'animation: image complètement visible */
            opacity: 1;
        }
    }

    /* Bouton */
    .btn-shop {
        position: absolute;
        width: 190px;
        height:64px;
        background: white;
        border: none;
        transform: translate(-50%, -50%);
        
    }

    .btn-shop > span {
        color: $yellow;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .btn-shop > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        /* Code pour gérer la transparence dans Internet Explorer */
        /* Utilisation d'un filtre MS pour contrôler la transparence */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        /* Utilisation d'un filtre alpha pour la transparence (anciennes versions d'IE) */
        filter: alpha(opacity=0);
        opacity: 0
    }

    /* Animation lorsque le bouton est focus */
    .btn-shop:focus {
        animation: extend 1s ease-in-out forwards; /* Application de l'animation "extend" */
    }

    /* Animation du texte du bouton lorsqu'il est focus */
    .btn-shop:focus > span {
        animation: disappear 1s ease-in-out forwards; /* Application de l'animation "disappear" */
    }

    /* Animation de l'image du bouton lorsqu'il est focus */
    .btn-shop:focus > img {
        animation: appear 1s ease-in-out forwards; /* Application de l'animation "appear" */
    }

        

    @-webkit-keyframes {
    }
    @-webkit-keyframes extend {
        0% {
            width: 200px;
            height: 90px;
            border-radius: 100px;
            } 10% {
            width: 210px;
            height: 110px;
            background: #fff;
            margin-left: - 5px;
            margin-top: - 5px;
            } 20% {
            width: 200px;
            height: 90px;
            background: $yellow;
            margin-left: 0px;
            margin-top: 0px;
            } 100% {
            width: 200px;
            height: 90px;
            border-radius: 100px;
            background: $yellow;
            }
        }
        @keyframes extend {
            0% {
                width: 200px;
                height: 100px;
                border-radius: 100px;
            }
            10% {
                width: 210px;
                height: 110px;
                background: #fff;
                margin-left: -5px; /* Ajustement de la marge */
                margin-top: -5px; /* Ajustement de la marge */
            }
            20% {
                width: 200px;
                height: 100px;
                background: $yellow;
                margin-left: 0px;
                margin-top: 0px;
            }
            100% {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                background: $yellow;
                margin-left: 0; /* Correction de la marge à 0px */
            }
        }
    @-webkit-keyframes {
    }
    @-webkit-keyframes disappear {
        0% {
            opacity: 1;
            } 20% {
            color: #fff;
            } 100% {
            opacity: 0;
            }
        }
    @keyframes disappear {
        0% {
            opacity: 1;
            } 20% {
            color: #fff;
            } 100% {
            opacity: 0;
            }
        }
    @-webkit-keyframes {
    }
    @-webkit-keyframes appear {
        0% {
            opacity: 0;
            } 70% {
            opacity: 0;
            } 100% {
            opacity: 1;
            }
        }
    @keyframes appear {
        0% {
            opacity: 0;
            } 70% {
            opacity: 0;
            } 100% {
            opacity: 1;
            }
        }
    html {
        background: #fff
        }

    input, button, submit {
        border: none
        }

    .cont {
        position: absolute;
        width: 610px;
        height: 10px;
        left: 155%;
        top: 50%;
        margin: -100px 0 0 -300px
        }

    button {
        border-width: 1px;
        width: 600px;
        height: 200px;
        background: #fff;
        position: absolute;
        border: 5px solid $yellow;
        }

    button > span {
        color: $yellow;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0
        }

    button:focus {
        /*animation*/
        -webkit-animation: extend 1s ease-in-out;
        -ms-animation: extend 1s ease-in-out;
        animation: extend 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }

    button:focus > span {
        /*animation*/
        -webkit-animation: disappear 1s ease-in-out;
        -ms-animation: disappear 1s ease-in-out;
        animation: disappear 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }

    button:focus > img {
        /*animation*/
        -webkit-animation: appear 1s ease-in-out;
        -ms-animation: appear 1s ease-in-out;
        animation: appear 1s ease-in-out;
        -webkit-animation-fill-mode: forwards;
        /* Chrome, Safari, Opera */
        animation-fill-mode: forwards
        }



    .lien-shop{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        .lien{
            display: flex;
            flex-wrap: nowrap;
            text-decoration: none;
            color: white;
            .text{
                margin-bottom: 0;
            }

        }
    }

}

.visible{
    visibility: visible;
}



