.container-fluid {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030; // Assurez-vous que la barre de navigation est au-dessus des autres éléments
      background-color: #f8f9fa; // Ajoutez un fond pour que le contenu ne soit pas visible derrière la barre de navigation
    }
    .navbar-brand {
        font-size: 1.5rem; // Ajustez la taille de la marque si nécessaire
      }
    
    .navbar-nav {
        .nav-link {
          font-size: 1rem; // Ajustez la taille de la police des liens si nécessaire
          margin-left: 10px;
          margin-right: 10px;
        }

        .icone{
          width: 20px;
          margin: 10px;  
        }
    }
}


.icone-logo{
    width: 44px;
}

.text-logo{
    font-family: "Montserrat", sans-serif;
    font-size: 30px !important;
    font-weight: 700;

}

.icone-milieu{
    padding-left: 100px!important;
    color: black !important;
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
}



